*{
    
    margin: 0;
    padding: 0;

}

.body{
    width: 100%;
    height: 100vh;
    display: flex;
}

.grid-areas{
    grid-template-areas: 
    "nav"
    "main"
    ;
}

.nav{
    grid-area: nav;
}
.main{
    grid-area: main;
}
.contenedor_imagenes{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);    
    margin: 20px;
    padding: auto;
}

.imagen{
    width: 100%;
    height: 100%;
    object-fit: cover;
}




